pymongo
apache-airflow-providers-mongo
apache-airflow-providers-celery
azure-identity
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-resource
apache-airflow-providers-hashicorp

# Local install
pika
dotenv
python-socketio